/*cuerpo de la pagina*/
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*diseño del encabezado*/
.logo {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 40px;
    font-weight: bold;
}

header {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    color: #FFFFFF;
    display: flex;
    padding-top: 65px;
    padding-right: 40px;
    list-style: none;
    gap: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header a:hover {
    border-radius: 15px;
    padding: 8px;
    background-color: #CACBC8;
    color: #000000;
}

/*Contenido del carrito*/
.carrito {
    flex: 1;
    padding: 30px 20px;
}

.carrito div {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}

.carrito img {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
}

.carrito button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

/*diseño del pide de página*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    color: #FFFFFF;
    padding: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0;
    column-gap: 390px;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}

footer a:hover {
    border-radius: 15px;
    padding: 8px;
    background-color: #CACBC8;
    color: #000000;
}

footer img {
    width: 150px;
    border-radius: 15px;
}